{% extends layout %}
{% block body %}
<section>
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
            <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
                 viewBox="0 0 1155 678">
                <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3"
                      d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"/>
                <defs>
                    <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4ade80"/>
                        <stop offset="1" stop-color="#dcfce7"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>
        {% set homeBanner = theme_mod('home_banners') %}
        <div class="mx-auto max-w-screen-xl py-16">
            {% if homeBanner %}
                {% set banner = get_post(homeBanner.post) %}
                <div class="text-center">
                    <h1 class="text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-200 sm:text-6xl">
                        <a class="hover:underline" href="{{ permalink(banner) }}">{{ banner.title }}</a>
                    </h1>
                    <p class="mt-6 text-lg leading-8 text-slate-500">
                        {% set author = banner.getAuthor() %}
                        {% set dynastyId = dynasty(author) %}
                        {% if dynastyId %}
                            {% set dynasty = taxonomy(dynastyId) %}
                            {% if dynasty %}
                                <span class="text-sm leading-8 text-slate-400">[{{ dynasty.name }}]</span>
                            {% endif %}
                        {% endif %}
                        <a class="hover:underline dark:text-slate-300" href="{{ permalink(author) }}">{{ author.getNickname() }}</a>
                    </p>
                    {% set content = banner.content|split('{br}') %}
                    {% for word in content %}
                        <p class="mt-6 text-lg leading-8 text-slate-700 dark:text-slate-300">
                            {{ word }}
                        </p>
                    {% endfor %}
                    <!-- <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
                        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
                    </div> -->
                </div>
            {% endif %}
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
            <svg class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]"
                 viewBox="0 0 1155 678">
                <path fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)" fill-opacity=".3"
                      d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"/>
                <defs>
                    <linearGradient id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc" x1="1155.49" x2="-78.208" y1=".177" y2="474.645"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4ade80"/>
                        <stop offset="1" stop-color="#dcfce7"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
    <div class="container mx-auto max-w-screen-xl">
        <div class="flex overflow-hidden relative h-20 justify-around">

        </div>
    </div>
</section>
<section class="mt-8">
    <div class="mx-auto max-w-5xl">
        <div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3">
            {% set recommandAuthors = theme_mod('home_authors') %}
            {% set users = get_users(recommandAuthors|split(',')) %}
            {% for user in users %}
            {% if loop.index % 4 == 1 %}
            <ul class="space-y-8">
            {% endif %}
                <li class="text-sm leading-6">
                    <figure class="relative flex flex-col-reverse bg-white rounded-md p-6 dark:bg-slate-800 dark:highlight-white/5">
                        <blockquote class="mt-2 text-slate-700 dark:text-slate-300">
                            <p class="truncate">
                                {% set description = user.getMeta('description') %}
                                {% if description %}
                                    {{ description.getMetaValue() }}
                                {% endif %}
                            </p>
                        </blockquote>
                        <figcaption class="flex items-center space-x-4">
                            {% if user.avatar %}
                                <img src="{{ asset(user.avatar) }}" alt="{{ user.nickname }}" class="flex-none w-14 h-14 rounded-full object-cover" loading="lazy" decoding="async">
                            {% endif %}
                            <div class="flex-auto">
                                <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                                    <a class="hover:underline" href="{{ permalink(user) }}" tabindex="0"><span class="absolute inset-0"></span>{{ user.nickname }}</a>
                                </div>
                                <div class="mt-0.5 text-slate-400">
                                    {% set dynastyId = dynasty(user) %}
                                    {% if dynastyId %}
                                        {% set dynasty = taxonomy(dynastyId) %}
                                        {% if dynasty %}
                                            <span class="dynasty text-sm leading-8">[{{ dynasty.name }}]</span>
                                        {% endif %}
                                    {% endif %}

                                    {% if 'statistical-analysis' is plugin_activated %}
                                    {% set count = get_plugin('statistical-analysis').user('creation', user.getId()) %}
                                        {% if count > 0 %}
                                        <span class="dynasty text-sm leading-8">作品: {{ count }}</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            {% if loop.index % 4 == 0 %}
            </ul>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="mt-8">
    <div class="mx-auto max-w-5xl">
        <div class="flex flex-col">
            <div class="flex flex-col mb-8 bg-white dark:bg-slate-800 rounded-md p-6">
                <div class="font-bold mb-6">
                    <h4 class="pb-2 text-lg text-slate-700 dark:text-slate-300 tracking-widest border-b-2 border-indigo-500">你想知道得？</h4>
                </div>
                <div class="lg:grid lg:grid-cols-4">
                    <!-- Pricing Card -->
                    {% for post in get_posts({limit: 16, type: "question"}) %}
                        <div class="truncate flex text-sm mb-4">
                            <span class="block rounded-full w-5 text-white text-center bg-indigo-500">{{ loop.index }}</span>
                            <h3 class="truncate ml-2 font-medium text-gray-700 dark:text-slate-300">
                                <a class="hover:underline" href="{{ permalink(post) }}">{{ post.title }}</a>
                            </h3>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% set homeClassify = theme_mod('home_types') %}
            {% for cate in homeClassify %}
            <div class="card flex flex-col mb-8 bg-white p-6 rounded-md dark:bg-slate-800">
                <div class="card-header font-bold mb-6">
                    <h4 class="pb-2 text-lg text-slate-700 dark:text-slate-300 tracking-widest border-b-2 border-{{ cate.color }}-500">{{ cate.title }}</h4>
                </div>
                <div class="card-body space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 sm:gap-6 xl:gap-10 lg:space-y-0">
                    {% for post in get_posts({id: cate.collection|split(',')}) %}
                        <div class="truncate flex items-center">
                            <h3 class="text-base text-slate-900 font-semibold dark:text-slate-300">
                                <a class="hover:underline" href="{{ permalink(post) }}">{{ post.title }}</a>
                            </h3>
                            {% set author = post.getAuthor() %}
                            {% set dynastyId = dynasty(author) %}
                            {% if dynastyId %}
                                {% set dynasty = taxonomy(dynastyId) %}
                                {% if dynasty %}
                                    <span class="dynasty text-sm leading-8 text-slate-400">&nbsp;-&nbsp;[{{ dynasty.name }}]&nbsp;·&nbsp;</span>
                                {% endif %}
                            {% endif %}
                            <a class="text-sm hover:underline text-slate-700 dark:text-slate-300" href="{{ permalink(author) }}">{{ author.getNickname() }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}


            <div class="card flex flex-col mb-8 bg-white p-6 rounded-md dark:bg-slate-800">
                <div class="card-header font-bold mb-6">
                    <h4 class="pb-2 text-lg text-slate-700 dark:text-slate-300 tracking-widest border-b-2 border-indigo-500">最新标签</h4>
                </div>
                {% set colors = {'indigo':'bg-indigo-500', 'rose':'bg-rose-500', 'pink':'bg-pink-500', 'fuchsia':'bg-fuchsia-500', 'purple':'bg-purple-500', 'violet':'bg-violet-500', 'blue':'bg-blue-500', 'green':'bg-green-500', 'cyan':'bg-cyan-500', 'teal':'bg-teal-500', 'emerald':'bg-emerald-500', 'lime':'bg-lime-500', 'yellow':'bg-yellow-500', 'amber':'bg-amber-500', 'orange':'bg-orange-500', 'red':'bg-red-500'}  %}
                {% set colorNames = colors|keys %}
                {% set length = colorNames|length %}
                <div class="flex flex-row flex-wrap mx-[-0.5rem] my-[-0.35rem]">
                    {% for item in taxonomies('tag', {limit: 100}) %}
                    {% set name = colorNames[loop.index % length] %}
                    <a class="rounded-full {{ colors[name] }} mx-2 my-1.5 block px-2.5 py-1 text-slate-200" href="{{ permalink(item) }}">
                        {{ item.getName() }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

