{% extends layout %}

{% block body %}
    <section>
        <div class="relative isolate px-6 pt-14 lg:px-8">
            <div class="mx-auto max-w-3xl">
                {{ widget('breadcrumb', {template: 'kutty/breadcrumb.html.twig'}) }}
            </div>
        </div>
    </section>
    <section>
        <div class="relative isolate px-6 pt-4 lg:px-8">
            <div class="relative mx-auto max-w-3xl overflow-hidden">
                <div class="py-16 bg-white dark:bg-slate-800 rounded-md">
                    <div class="text-center">
                        {% if entity %}
                            <h1 class="text-4xl px-4 font-bold tracking-tight text-slate-900 dark:text-slate-200 sm:text-6xl">{{ entity.title }}</h1>
                            <p class="mt-6 text-lg leading-8 text-slate-500 dark:text-slate-400">
                                {% set author = entity.getAuthor() %}
                                {% set dynastyId = dynasty(author) %}
                                {% if dynastyId %}
                                    {% set dynasty = taxonomy(dynastyId) %}
                                    {% if dynasty %}
                                        <span class="text-sm leading-8 text-gray-400">[{{ dynasty.name }}]</span>
                                    {% endif %}
                                {% endif %}
                                {{ author.getNickname() }}
                            </p>
                            {% set content = entity.content|split('{br}') %}
                            {% for word in content %}
                                <p class="mt-6 px-4 text-lg leading-8 text-slate-700 dark:text-slate-300">
                                    {{ word }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% set tags = entity.getTags() %}
                {% if tags|length > 0 %}
                <div class="mt-4 text-center">
                    <ul class="flex justify-center flex-wrap">
                        {% for tag in tags %}
                        <li class="text-slate-600 dark:text-slate-400 border border-slate-200 bg-slate-100 dark:border-slate-800 dark:bg-slate-800 hover:bg-slate-300 dark:hover:bg-slate-700 rounded-lg mx-2 mb-2 py-1 px-2.5">
                            <a class="tag" href="{{ permalink(tag) }}" target="_blank">{{ tag.getName() }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="bg-white dark:bg-slate-800 rounded-md mt-16">
                    <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
                        <div class="flex items-center">
                            {% set author = entity.getAuthor() %}
                            <div class="flex-shrink-0">
                                {% if author.avatar %}
                                    <img class="h-12 w-12 rounded-full" src="{{ asset(author.avatar) }}" alt="">
                                {% endif %}
                            </div>
                            <div {% if author.avatar %} class="ml-2" {% endif %}>
                                {% set dynastyId = dynasty(author) %}
                                <h3 class="text-lg font-medium leading-8 text-slate-700 dark:text-slate-300">
                                    {{ author.getNickname() }}
                                    {% if dynastyId %}
                                        {% set dynasty = taxonomy(dynastyId) %}
                                        {% if dynasty %}
                                            <span class="text-sm text-slate-400">[{{ dynasty.name }}]</span>
                                        {% endif %}
                                    {% endif %}
                                </h3>
                                <p class="text-sm text-slate-700">
                                </p>
                            </div>
                        </div>
                        <div class="flex">
                        </div>
                    </div>
                    <div class="indent-8 px-4 py-5 text-slate-700 dark:text-slate-400">
                        {% set description = author.getMeta('description') %}
                        {% if description %}
                            {{ description.getMetaValue() }}
                        {% endif %}
                    </div>
                </div>


                <div class="bg-white  dark:bg-slate-800 rounded-md mt-16">
                    <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
                        <h3 class="text-lg font-medium leading-8 text-slate-700 dark:text-slate-300">译文</h3>
                        <div class="flex">
                        </div>
                    </div>
                    <div class="px-4 py-5 text-slate-700 dark:text-slate-400">
                        {% set translation = entity.getMeta('translation') %}
                        {% if translation %}
                            {% set values = translation.getMetaValue() %}
                            {% for line in values|split('{br}') %}
                                <p>{{ line }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="bg-white  dark:bg-slate-800 rounded-md mt-16">
                    <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
                        <div class="flex justify-between items-center">
                            <h3 class="text-lg font-medium leading-8 text-slate-700 dark:text-slate-300">注释</h3>
                            <div class="flex">
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-5 text-slate-700 dark:text-slate-400">
                        {% set comment = entity.getMeta('comment') %}
                        {% if comment %}
                            {% set values = comment.getMetaValue() %}
                            {% for line in values|split('{br}') %}
                                <p>{{ line }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
