{% extends layout %}

{% block body %}
<section>
    <div class="max-w-5xl mx-auto">
        <div class="isolate px-6 pt-14 lg:px-8">
            {{ widget('breadcrumb', {template: 'kutty/breadcrumb.html.twig'}) }}
        </div>
        <div class="flex isolate mx-auto px-6 pt-4 lg:px-8 justify-between flex-col items-center md:items-start md:flex-row">
            <div class="flex-auto w-full overflow-hidden">
                {% if activated_route.isAuthor() %}
                <div class="bg-white dark:bg-slate-800 rounded-md mb-8">
                    <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                {% if entity.avatar %}
                                    <img class="h-12 w-12 rounded-full" src="{{ asset(entity.avatar) }}" alt="{{ entity.nickname }}">
                                {% endif %}
                            </div>
                            <div {% if entity.avatar %} class="ml-2" {% endif %}>
                                {% set dynastyId = dynasty(entity) %}
                                <h3 class="text-lg font-medium leading-8 text-slate-700 dark:text-slate-300">
                                    {{ entity.getNickname() }}
                                    {% if dynastyId %}
                                        {% set dynasty = taxonomy(dynastyId) %}
                                        {% if dynasty %}
                                            <span class="text-sm text-slate-400">[{{ dynasty.name }}]</span>
                                        {% endif %}
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="indent-8 p-4">
                        {% set description = entity.getMeta('description') %}
                        {% if description %}
                            <p class="text-slate-700 dark:text-slate-400">{{ description.getMetaValue() }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% include 'kutty/list.html.twig' %}
            </div>
            {% include 'kutty/right_bar.html.twig' %}
        </div>
    </div>
</section>
{% endblock %}
